@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body {
  font-family: Kaushan Script, cursive;
  background-color: #60a3bc;
}

#number-guess,
#result,
#history {
  max-width: 400px;
  margin: 0 auto;
}

#history {
  margin-top: 16px;
}

.banner {
  color: #ffd23f;
  font-size: 90px;
}
